[submodule "xbee-zha-arduino"]
	path = xbee-zha-arduino
	url = https://github.com/pvginkel/xbee-zha-arduino.git
[submodule "DuinoZigBeeAPI"]
	path = DuinoZigBeeAPI
	url = https://github.com/pvginkel/DuinoZigBeeAPI.git
[submodule "quad_garage"]
	path = quad_garage
	url = https://github.com/pvginkel/QuadGarageDoorController.git
